body,.mat-table,.mat-expansion-panel-header,.mat-expansion-panel-content,.mat-list-item, .mat-list-option{
    font-family: 'open_sansregular', 'Open sans';
}
body{
    font-size: 14px;
}

.custom_tabs mat-tab-header.mat-tab-header {
    margin-bottom: 15px;
}
.custom_checkboxlabel .mat-checkbox-layout .mat-checkbox-label {
    font-size: 9px;
    font-family: 'open_sansbold', 'Open sans' !important;
    color: #6F6F6F !important;
    text-transform: uppercase;
}
.text-label.font_sm {
    font-size: 9px!important;
    color: #6f6f6f!important;
    font-family: open_sansbold!important;
    text-transform: uppercase;
}
.mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-infix input {
    height: 40px;
    background: #fff;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 0!important;
    font-family: open_sansregular, 'Open sans';
    color: #6f7070;
    margin: 0;
}

.mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-infix {
    padding: 0!important;
    border: 0!important;
    border-radius: 0;
    background: transparent!important;
}
.mat-form-field.custom_el_input .mat-form-field-flex {
    padding: 0!important;
    background: transparent!important;
}
.mat-form-field.custom_el_textarea .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix textarea.readonly {
    background: #ccc!important;
}
.mat-form-field.custom_el_select .mat-form-field-flex {
    background: #fff;
    border-radius: 0px;
}
.removeSection .btn-sm{
        background: #D1D2D2;
        color: #515252!important;
        font-family: open_sansbold, 'Open sans' !important;
        font-size: 9px;
        padding: 5px 10px;
        min-width: 64px;
}
.removeSection .btn-sm:hover{
    background: #AD0C20;
            color: #fff!important;
}
.stuSkills .job-skills button.btn-secondary {
    background: #d2d2d2;
    border: none;
    font-family: 'open_sansbold', 'Open sans';
    font-size: 10px;
    color: #525252;
}
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex,.mat-form-field-appearance-fill.mat-form-field-disabled.custom_el_select .mat-form-field-flex .mat-form-field-infix .mat-select {
    background-color: #00000005;
}
.font_12{
    font-size: 12px;
}
.filter-result .el_label .mat-checkbox .mat-checkbox-layout .mat-checkbox-label,.filter-result .mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
    font-size: 10px;
    font-family: open_sansbold, 'Open sans';
    color: #515252;
    line-height: normal;
    text-transform: uppercase;
}
.mat-checkbox.mat-accent.mat-checkbox-indeterminate .mat-checkbox-mixedmark {
    display: none;
}
.date-picker-wrapper .mat-form-field .mat-form-field-flex {
    padding: 0;
}
.date-picker-wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    border: 0!important;
    padding: 0;
}
.date-picker-wrapper .mat-form-field {
    padding: 0 0 0 10px;
}
.message.whiteBg {
    text-align: center;
    background: transparent;
    font-weight: 700;
}
.back_link {
    color: #0056b3!important;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    line-height: 25px!important;
}
.approve-screen .btn-lg.mat-button{
    font-size: 18px;
    padding: 8px 30px;
}
.bg-white .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-suffix{
    line-height: normal;
}
.bg-white .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-suffix .mat-button.mat-icon-button{
    height: 40px;
    width: 40px;
}
.bg-white .mat-form-field.custom_el_select .mat-form-field-flex .mat-form-field-infix .mat-select {
    border: 1px solid #6F6F70;
    height: 34px;
    border-radius: 4px;
    line-height: 25px;
    font-size: 12px;
    color: #515252;
}
.bg-white .mat-accordion .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-infix input{
    border: 1px solid #6F6F70;
    height: 34px;
    border-radius: 4px!important;
    line-height: 25px;
    font-size: 12px;
    color: #515252;
    background: #fff!important;
}
.bg-white .mat-accordion .mat-form-field.mat-form-field.chip-list.filter_chiplist .mat-form-field-flex{
    background: #fff!important;
    border-radius: 4px;
    border: 1px solid #000;
}
.filter_chiplist .mat-form-field-flex .mat-chip.mat-standard-chip {
    background-color: #e4e4e4!important;
    color: #515252;
    padding: 5px 5px 5px 10px!important;
    margin: 2px;
    border-radius: 4px;
}
.bg-white .mat-accordion .mat-form-field.custom_el_select .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-value,.bg-white .mat-accordion .mat-form-field.custom_el_select .mat-select-placeholder,.bg-white .mat-accordion .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-infix input::placeholder{
    color: #6f7070;
}
.bg-white .mat-accordion .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-suffix .mat-datepicker-toggle .mat-button,.bg-white .mat-accordion .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-suffix .mat-datepicker-toggle .mat-icon-button {
    height: 35px;
    width: 35px;
}
.bg-white .mat-accordion .mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-suffix {
    width: 35px;
    height: 35px;
}
/* student Profile Page*/
.stuProfileEdit{
    margin-top: 80px;
}
.studentDetailsPage {
    position: relative;
    background-color: #fff;
    margin-bottom: 1px;
}
.grey-boxshadow {
    -webkit-box-shadow: 0px 4px 8px -2px rgba(200, 199, 199, 1);
    -moz-box-shadow: 0px 4px 8px -2px rgba(200, 199, 199, 1);
    box-shadow: 0px 4px 8px -2px rgba(200, 199, 199, 1);
}
.studentProfileDetails {
    padding-top: 15px;
    border-right: 1px solid #ebebeb;
    position: relative;
    padding-bottom: 15px;
}
.studentProfileDetails .profileImageSize img {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px 3px rgba(209, 210, 210, 1);
    border-radius: 50%;
    width: 100%;
    max-height: 100%;
}
.studentProfileDetails .profileImageSize button {
    display: block;
    margin: 0 auto;
}
.stuProfileEdit .studentDetailsPage .studentProfileDetails .common_profile h3 {
    font-size: 16px;
    font-family: open_sansregular, 'Open sans';
    margin-top: 5px;
    color: #302f43;
    text-align: left;
    margin: 0;
}
.stuProfileEdit .studentDetailsPage .studentProfileDetails .common_profile h1 {
    font-family: open_sanslight, 'Open sans' !important;
    font-size: 33px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: left;
}
.stuProfileEdit .studentDetailsPage .studentProfileDetails .common_profile p.gradYear {
    font-size: 12px;
    font-family: open_sanssemibold, 'Open sans';
    color: #302f43;
    text-align: left;
    margin: 0;
}
.edit_profile_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.privacy-dropdown-menu {
    margin-left: 15px;
    display: inline-block;
}
.privacy-dropdown-menu .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    padding: 0;
}
.privacy-dropdown-menu .mat-form-field .mat-select span.mat-select-value-text {
    color: #707171;
    font-size: 10px;
    font-family: 'open_sansbold', 'Open sans';
}
.privacy-dropdown-menu .mat-form-field .mat-form-field-flex .mat-form-field-infix {
    min-width: 75px;
    width: auto;
    padding: 0;
}
.privacy-dropdown-menu .mat-form-field .mat-select span.mat-select-value-text mat-select-trigger .mat-icon {
    font-size: 14px;
    height: 18px;
    width: 18px;
    line-height: 16px;
    text-align: center;
}
.whiteBackground .mat-form-field.custom_el_textarea .mat-form-field-wrapper .mat-form-field-flex,.whiteBackground .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex,.addInternship .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex,.summarySection .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex{
    border: 1px solid #6F6F70;
    border-radius: 3px!important;
}
.whiteBackground .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input,.addInternship .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input,.summarySection .mat-form-field.custom_el_input .mat-form-field-wrapper .mat-form-field-flex input,.summarySection .mat-form-field.custom_el_select .mat-form-field-wrapper .mat-form-field-flex .mat-select{
    background: #fff!important;
    border-radius: 3px!important;
    height: 34px;
}
.cdk-overlay-connected-position-bounding-box .mat-select-panel-wrap .mat-option .mat-option-text {
    font-family: open_sansregular, 'Open sans' !important;
}
.privacy_style {
    height: 30px!important;
}
.eventSubHeading ul li .academic-education-left-content h4 {
    font-family: 'open_sanssemibold', 'Open sans';
}
.text-field {
    font-family: 'open_sansregular', 'Open sans' !important;
    font-size: 14px !important;
    color: #6F7070 !important;
}
.stuProfileEdit button.btn-sm {
    padding: 5px 20px!important;
    font-size: 12px!important;
}
.editOtherActivities span.button-seprator {
    display: none;
}
.editOtherActivities .redbtn {
    background: #ac1f24!important;
    color: #fff!important;
}
.whiteBackground.workshopEventSection .custom_el_input .mat-form-field-suffix {
    height: 35px;
    width: 35px;
}
.whiteBackground.workshopEventSection .custom_el_input .mat-form-field-suffix .mat-datepicker-toggle .mat-icon-button {
    height: 35px;
    width: 35px;
}
.navbar.navbar-default .nav.navbar-nav li.userProfile {
    width: 146px!important;
}
.usernameEmailWidth {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 1.091em;
    padding-left: 9px;
    text-align: left;
    font-family: 'open_sansregular', 'Open sans' !important;
}
.usernameEmailWidth .userEmail {
    font-size: 12px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
#slide-nav .navbar-nav li.Question {
    right: 141px!important;
    top: 0;
}
#slide-nav .navbar-nav li.specs {
    right: 215px!important;
}
#slide-nav .navbar-nav li.new-menu-cards {
    position: absolute;
    right: 280px;
    top: 0;
}
#slide-nav .navbar-nav li.new-menu-cards.hideImpersonation {
    right: 211px!important;
}
.navbar-default .navbar-nav>li.userProfile a.userLink {
    width: auto!important;
}
.env-ticker{
    position: absolute!important;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}
.userProfileInfo{
    width: 100%;
}
#slide-nav .new-menu-cards ul.dropdown-menu>li>a div:nth-child(2) div {
    height: auto;
    top: 2px;
    left: 0;
    right: 0;
  }
  #slide-nav .new-menu-cards ul.dropdown-menu>li>a.active div:nth-child(2) div, #slide-nav .new-menu-cards ul.dropdown-menu>li>a:hover div:nth-child(2) div {
    color: #fff;
  }
  #slide-nav .new-menu-cards ul.dropdown-menu>li>a:hover img, #slide-nav .new-menu-cards ul.dropdown-menu>li>a:focus img, #slide-nav .new-menu-cards ul.dropdown-menu>li>a:active img, #slide-nav .new-menu-cards ul.dropdown-menu>li>a.active img {
    filter: sepia(1);
  }
  .filterSectionEduplaner.searchbox label {
    font-size: 16px!important;
}
.filterSectionEduplaner.searchbox .search-wrapper .compact-input {
    width: 100%;
    max-width: 100%;
}
.personalInfo.timeZone .mat-form-field.custom_el_select .mat-form-field-wrapper .mat-form-field-flex .mat-select {
    height: 40px;
    line-height: 32px;
    font-family: 'open_sansregular', 'Open sans' !important;
    padding: 4px 10px;
}
.personalInfo .custom_el_select .mat-form-field-wrapper {
    padding: 0!important;
}
.personalInfo.timeZone .mat-form-field.custom_el_select .mat-form-field-wrapper .mat-form-field-flex .mat-select .mat-select-arrow-wrapper {
    transform: translate(0);
}
.personal-info .mat-expansion-panel .mat-expansion-panel-body .parental-access-wrap .parent-aceess-list .dateschdule mat-label {
    font-family: 'open_sansbold', 'Open sans';
}
@media only screen and (max-width: 1024px) {
    .hideUsername_byu {
        display: none;
    }
    .navbar.navbar-default .nav.navbar-nav li.userProfile {
        width: 60px!important;
    }
    #slide-nav .navbar-nav li.Question {
        right: 60px!important;
    }
    #slide-nav .navbar-nav li.specs {
        right: 135px!important;
    }
    li.env-ticker, .impersonation .state {
        display: none;
    }
    #slide-nav .new-menu-cards {
        right: 200px !important;
    }
    .navbar-default .navbar-header .navbar-brand img#applogo {
        display: block;
        margin-left: 15px;
    }
    .navbar-default .navbar-nav > li > a.iPlan {
        font-size: 16px !important;
        justify-content: left;
    }
	
}

body #slide-nav .new-menu-cards ul.dropdown-menu>li>a div:nth-child(1) img {
    max-height: 56px!important;
    max-width: 44px!important;
}

.new-menu-cards.usermenuCards button.dropdown-toggle:after {
    border: none!important;
}
#slide-nav .new-menu-cards button.dropdown-toggle i {
    font-size: 12px;
}
#slide-nav .new-menu-cards button.dropdown-toggle{
    width: 90px!important;
}
@media only screen and (max-width: 600px){
    #slide-nav .new-menu-cards button.dropdown-toggle{
        width: 60px!important;
    }
    nav .new-menu-cards.hideImpersonation ul.dropdown-menu {
        left: -180px!important;
    }
    #slide-nav .new-menu-cards ul.dropdown-menu li,#slide-nav .new-menu-cards ul.dropdown-menu li:nth-child(4n) {
        margin-right: 8px;
    }
    #slide-nav .new-menu-cards {
        right: 181px !important;
    }
}
.SpinnerWrapper{
    background-color: rgba(0, 0, 0, 0.1) !important
}
.SpinnerWrapper .loading-big svg.spinner path{
    stroke: #000 !important;
}
.SpinnerWrapper .overlayfull{
    background-color: rgba(0, 0, 0, 0.1) !important;
    opacity: 1;
}

.SpinnerWrapper .overlayfull .loading-big svg.spinner path{
    stroke: black !important;
}
.mat-form-field.custom_el_input .mat-form-field-flex .mat-form-field-infix input::placeholder{
        font-size: 12px;
}
   
